*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}
html,body{
    font-family: 'Hind', sans-serif;
}
header{
    nav.navbar {background-color: transparent;}
    .navbar-brand{
        i{
            color: #34A22C;
        }
        span{
            color: #fff;
            font-size: 3.4rem;
        }
    }
    #collapsibleNavbar .nav-item .nav-link{
            font-size: 1.6rem;
            color: #fff;
            padding: 0 2rem;
        }
}